# OS junk
.DS_Store
._*
.Spotlight-V100
.Trashes
Desktop.ini
Thumbs.db

# node 
node_modules

# common build dirs
dist
build
out
.next

# vim
*.swp

# log giles
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
